<div class="centerElement">
  <mat-card>
    <div class="searchBox">
      <mat-form-field>
        <input matInput placeholder="search Id" [(ngModel)]="searchId" />
      </mat-form-field>

      <button mat-button (click)="fatchData()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-card>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    width="100%"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="owner_id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{ element.owner.user_id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="owner_name">
      <th mat-header-cell *matHeaderCellDef>Name.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.owner.display_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="owner_profile">
      <th mat-header-cell *matHeaderCellDef>Profile</th>
      <td mat-cell *matCellDef="let element">
        <a href="{{ element.owner.link }}">view</a>
      </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="creation_date">
      <th mat-header-cell *matHeaderCellDef>Created Date</th>
      <td mat-cell *matCellDef="let element">{{ element.creation_date }}</td>
    </ng-container>

    <!-- Last updated Column -->
    <ng-container matColumnDef="last_edit_date">
      <th mat-header-cell *matHeaderCellDef>Last updated</th>
      <td mat-cell *matCellDef="let element">
        {{ element.last_edit_date }}
      </td>
    </ng-container>
    <!-- View Ans Column-->
    <ng-container matColumnDef="answered">
      <th mat-header-cell *matHeaderCellDef>Answered</th>
      <td mat-cell *matCellDef="let element">
        <a href="{{ element.link }}">view</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card>
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 50, 100]"
      [pageSize]="10"
    ></mat-paginator>
  </mat-card>
</div>
